<div class="podcasts-standfirst">
    {{ content.field_standfirst }}
</div>

<div class="mixcloud">
    {{ content.field_mixcloud }}
</div>

<div class="podcast-extra-info">
    {{ content.body }}
</div>

<div class="information">
    {{ content.field_information }}
</div>

<div class="category">
    {{ content.field_category }}
</div>


